<div class=container>
  <h1>Événements à venir:</h1>

  <% if @events.length > 0 %>
  <ul class="per-user-list-container"></ul>
  <div class="per-user-list-empty">Vous n'avez créé aucun évenements</div>
  <ul class="global-list-container">
    <% @events.each do |event|%>
    <li>
      <%= event.title %> - <%= formatted_date(event.date.to_s) %>
      <%= link_to "Voir le détail de l'événement", event %>
    </li>
    <%end%>
  </ul>
  <%else%>
  Aucun évenements
  clique sur "Créer un événement" ou "Login" pour en créer.
  <%end%>
  <div class="pagination">
    Pagination:<br>
    <% if @total_pages > 1 %>
    <% (1..@total_pages).each do |page| %>
    <% if page == page_no %>
    <strong><%= page %></strong>
    <% else %>
    <%= link_to page, events_path(page: page, per_page: per_page), class: "pagination-link" %>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    const theEvent = document.querySelector("[data-turbo-method='get']");
    if (theEvent) {
      theEvent.addEventListener("click", function(event) {
        event.preventDefault();
        fetch(this.href, {
            method: "GET",
            headers: {
              "Accept": "application/json"
            }
          })
          .then(response => response.json())
          .then(data => {
            // Update the DOM with the events data
            const perUserListContainer = document.querySelector(".per-user-list-container");
            const globalListContainer = document.querySelector(".global-list-container");
            const perUserListEmptyContainer = document.querySelector(".per-user-list-empty");
            const paginationContainer = document.querySelector(".pagination");

            globalListContainer.style.display = 'none';
            perUserListContainer.innerHTML = "";

            if (data.events.length === 0) {
              perUserListEmptyContainer.style.display = 'block';
            } else {
              perUserListEmptyContainer.style.display = 'none';
              data.events.forEach(event => {
                const eventElement = document.createElement("li");
                eventElement.innerHTML = `${event.title} - ${event.date} <a href='/events/${event.id}'>Voir le détail de l'événement</a>`;
                perUserListContainer.appendChild(eventElement);
              });
            }

            const per_page = 5;

            // Update pagination links
            paginationContainer.innerHTML = "Pagination:<br>";
            for (let page = 1; page <= data.total_pages; page++) {
              if (page === data.current_page) {
                paginationContainer.innerHTML += `<strong>${page}</strong> `;
              } else {
                paginationContainer.innerHTML += `<a href="/events?page=${page}&per_page=${per_page}" class="pagination-link">${page}</a> `;
              }
            }
          })
          .catch(error => console.error("Error:", error));
      });
    }
  });
</script>
<style>
  .per-user-list-empty {
    display: none;
  }
</style>