<%= link_to "Retour", events_path, class: "neutral" %>
<div class="event-card">
  <div>
    <h2><%= @event.title %></h2>
    <div>Description: <%= @event.description %></div>
    <div>Date: <%= formatted_date(@event.date.to_s) %></div>
    <div>Lieu : <%= @event.location %></div>
  </div>
  <div class="event-card-actions">
    <%= link_to "Editer", edit_event_path(@event.id)%>
    <%= button_to "Supprimer", @event, method: :delete, class: "danger" %>
  </div>
</div>